<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoleng.eurekaclient.dao.UserDao">

    <sql id="BaseSql">
        `id`, `name`, `age`,
    </sql>

    <select id="loadAndLock" resultType="com.xiaoleng.eurekaclient.domain.entity.User">
        select
        <include refid="BaseSql"/>
        from user where `id` = #{id} for update
    </select>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into user(`id`, `name`, `age`) values
        <foreach collection="userList" item="item" separator=",">
            (#{item.id},
            #{item.name},
            #{item.age})
        </foreach>
    </insert>


</mapper>